body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;

    margin: 0;
}

#contenedor {
    min-height: 100vh;
    width: 100%;
    
    background-color: #03aed9;

    padding: 30px;
    box-sizing: border-box;
}

#contenedor2 {
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 30px 30px 30px 30px;

    background-color: #719192;
    
    box-sizing: border-box;
    border-radius: 30px;
}

label {
    display: block;
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color:#3c4245;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #b4afaf;
}

button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #dfcdc3;
    
    margin-top: 10px;
}

button:hover {
    background-color: #3c4245;
    color:#dfcdc3;
}

hr {
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #dfcdc3;   
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #dfcdc3;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #000000;
}
