
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #898686;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2980b9 3px solid;
}
header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
video {
    border: 2px solid #5f9ea0;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    color: #000000;
    background: #F5F2C0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.btn:hover {
    background: #2DE5CE;
}
.content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
footer {
    background: #898686;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}